@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  background: linear-gradient($color-up, $color_down);
  font-family: $theme-font;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
